<div>
    <h1> Hey <%= referrerName%> </h1>
    <h3> You have successfully referred your friend <%= referredName %> for the course <%= preferredCourse %> </h3>
    <h2> Here is the Referral Code: <%=referralCode %> </h2>
</div>