<div>
    <h1>Hey <%= referredName %></h1>
    <h3> You have been successfully referred for the course <%= preferredCourse %> by your friend <%= referrerName %> </h3>
    <h2>Here is the Referral Code: <%=referralCode %> </h2>
</div>